@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        
        body {
            background-color: #121212;
            color: #FFD700;
            font-family: 'Press Start 2P', cursive;
        }
        header {
            background: linear-gradient(90deg, #ff5733, #c70039);
            padding: 20px;
            text-align: center;
            font-size: 1.5rem;
            color: white;
        }
        .container img {
            width: 100px;
            height: auto;
            image-rendering: pixelated;
        }
        .game-section {
            padding: 40px 0;
            text-align: center;
        }
        .game-section img.llucia {
            width: 200px;
            height: auto;
            border: 4px solid #ff5733;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(255, 87, 51, 0.8);
            padding: 5px;
            background-color: #222;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .game-section img.llucia:hover {
            transform: scale(1.1);
            box-shadow: 0 0 25px rgba(255, 87, 51, 1);
        }
        .card {
            background: #222;
            color: white;
            border: 4px solid #ff5733;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(255, 87, 51, 0.8);
            transition: transform 0.3s ease;
            padding: 5px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card img {
            max-height: 200px;
            object-fit: contain;
            border: 4px solid #ff5733;
            border-radius: 10px;
            padding: 5px;
            background-color: #222;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .equal-height {
            display: flex;
        }
        footer {
            background: linear-gradient(90deg, #c70039, #900c3f);
            color: white;
        }

        /* Estilos específicos para el video */
        .video-container {
            position: relative;
            display: inline-block;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(255, 87, 51, 0.8);
            width: 100%;
            background-color: #222;
        }
        video {
            width: 100%;
            border-radius: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .video-container:hover video {
            transform: scale(1.05);
            box-shadow: 0 0 25px rgba(255, 87, 51, 1);
        }

        /* Estilo para el carrusel */
        .carousel-inner img {
            width: 100%;
            height: 500px; /* Ajusta la altura de las imágenes */
            object-fit: cover; /* Asegura que las imágenes cubran completamente el área */
            border-radius: 10px;
        }